EXPO_PUBLIC_API_URL=https://www.michelstravel.agency
EXPO_PUBLIC_API_BASE_URL=https://www.michelstravel.agency
EXPO_PUBLIC_OAUTH_PORTAL_URL=
EXPO_PUBLIC_OAUTH_SERVER_URL=
EXPO_PUBLIC_APP_ID=
EXPO_PUBLIC_OWNER_OPEN_ID=
EXPO_PUBLIC_OWNER_NAME=
